{% extends "base.html" %}
{% block content %}
<!--index.html-->
<div style="margin: auto; width: 35%; padding: 5px;">
    {% if object_list %}
    <h1 class="pageHeader">My lists:</h1>
    <hr style="height:0.5px; background-color:gray;">
    {% endif %}
    <ul>
        {% for todolist in object_list %}
        <nav class="navbar bg-light">
            <div class="container-fluid">
              <a class="navbar-brand"  style="color:gray; font-size: 20px;" href="{% url "list" todolist.id %}">{{ todolist.title }}</a>
            </div>
        </nav>
        {% empty %}
        <h1 class="pageHeader">You have no lists!</h1>
        {% endfor %}
    </ul>
    <p>
        <button class="btn btn-sm btn-outline-secondary" type="button" style="font-size: 16px;" onclick="location.href='{% url "list-add" %}'">Add new list</button>
    </p>
</div>
{% endblock %}