{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}  

{% block content %}

<div class="container py-5" style="margin: auto; width: 35%; padding: 5px;">
	<h2>Register</h2>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit" href="/accounts/login">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/accounts/login">login</a> instead.</p>
</div>

{% endblock %}